.keyboard {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 2.4rem;
    column-gap: .8rem;
    padding: 1.5rem;
    &--selected {
        opacity: 0.2;
    }
    div {
        display: flex;
        padding: 10px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: .8rem;
        background-color: #fff;
        width: 2.8888rem;
        cursor: pointer;
        p {
            color: #261676;
            text-align: center;
            font-size: 2.4rem;
            line-height: 150%;
            letter-spacing: -.48px;
            margin: 0;
            font-weight: 400;
            font-style: normal;
            font-family: "MouseMemoirs-Regular";
        }
    }
    @media screen and (min-width: 768px) {
        column-gap: 1.6rem;
        padding: 3.2rem;
        div {
            width: 6.4rem;
            height: 8.4rem;
            border-radius: 2.4rem;
            p {
                font-size: 4.8rem;
            }
        }
    }
    @media screen and (min-width: 768px) {
        column-gap: 2.4rem;
        padding: 8rem 4rem;
        margin: auto;
        max-width: 129.2rem;
        div {
            width: 10.9rem;
            height: 8.4rem;
            p {
                font-size: 4.8rem;
            }
        }
    }
}