<header class="header">
        <div class="header__menu" >
            <button (click)="openPopup.emit(true)">
                <img src="/assets/images/icon-menu.svg" alt="menu">
            </button>
            <p>{{categoryKey()}}</p>
        </div>
        <div class="header__heart">
            <div class="header__heart-progress">
                <div [style.width.%]="(procent() / 5) * 100"></div>
            </div>
            <img src="/assets/images/icon-heart.svg" alt="heart">
        </div>
</header>